In [2]:
import pandas as pd

In [4]:
#Change this below code to have a correct path to you Adult dataset csv file
data = pd.read_csv('adult_dataset.csv')
print(data.head(5))

   age         workclass  fnlwgt  education  education-num  \
0   39         State-gov   77516  Bachelors             13
1   50  Self-emp-not-inc   83311  Bachelors             13
2   38           Private  215646    HS-grad              9
3   53           Private  234721       11th              7
4   28           Private  338409  Bachelors             13

       marital-status         occupation   relationship   race     sex  \
0       Never-married       Adm-clerical  Not-in-family  White    Male
1  Married-civ-spouse    Exec-managerial        Husband  White    Male
2            Divorced  Handlers-cleaners  Not-in-family  White    Male
3  Married-civ-spouse  Handlers-cleaners        Husband  Black    Male
4  Married-civ-spouse     Prof-specialty           Wife  Black  Female

   capital-gain  capital-loss  hours-per-week native-country salary
0          2174             0              40  United-States  <=50K
1             0             0              13  United-States  <=50K
2             0             0              40  United-States  <=50K
3             0             0              40  United-States  <=50K
4             0             0              40           Cuba  <=50K

In [15]:
print(data.sex == 'Male')
#data['malecount'] = data.count(data.sex == 'Male')
#print(data['malecount'])

0         True
1         True
2         True
3         True
4        False
5        False
6        False
7         True
8        False
9         True
10        True
11        True
12       False
13        True
14        True
15        True
16        True
17        True
18        True
19       False
20        True
21       False
22        True
23        True
24       False
25        True
26        True
27        True
28        True
29        True
         ...
32531    False
32532     True
32533     True
32534    False
32535     True
32536    False
32537     True
32538    False
32539     True
32540    False
32541    False
32542     True
32543    False
32544    False
32545    False
32546    False
32547     True
32548     True
32549    False
32550     True
32551     True
32552     True
32553     True
32554     True
32555     True
32556    False
32557     True
32558    False
32559     True
32560    False
Name: sex, Length: 32561, dtype: bool

In [20]:
(data[['sex']][(data.sex == 'Male')])
malecount = data[(data.sex == 'Male')].count()
print(malecount)

age               21790
workclass         21790
fnlwgt            21790
education         21790
education-num     21790
marital-status    21790
occupation        21790
relationship      21790
race              21790
sex               21790
capital-gain      21790
capital-loss      21790
hours-per-week    21790
native-country    21790
salary            21790
malecount             0
dtype: int64

In [22]:
print(data.sex.value_counts())

Male      21790
Female    10771
Name: sex, dtype: int64

In [23]:
#average age of all
print(data.age.mean())

38.58164675532078

In [24]:
print(data[(data.sex == 'Female')].age.mean())

36.85823043357163

In [26]:
print(data[['native-country']][data['native-country']=='Germany'])

      native-country
122          Germany
280          Germany
767          Germany
1009         Germany
1142         Germany
1346         Germany
1425         Germany
1973         Germany
2233         Germany
2586         Germany
2788         Germany
2899         Germany
3159         Germany
3348         Germany
3673         Germany
3743         Germany
4073         Germany
4138         Germany
4354         Germany
4536         Germany
4704         Germany
4748         Germany
5143         Germany
5346         Germany
5388         Germany
5705         Germany
5720         Germany
5796         Germany
6318         Germany
6344         Germany
...              ...
26577        Germany
26750        Germany
26882        Germany
26896        Germany
27332        Germany
27855        Germany
27856        Germany
27955        Germany
27982        Germany
28183        Germany
28197        Germany
28669        Germany
28697        Germany
29468        Germany
29505        Germany
30400        Germany
30865        Germany
30894        Germany
30982        Germany
31118        Germany
31172        Germany
31181        Germany
31201        Germany
31248        Germany
31446        Germany
32074        Germany
32101        Germany
32141        Germany
32236        Germany
32341        Germany

[137 rows x 1 columns]

In [28]:
data[['native-country']][data['native-country']=='Germany'].count()

native-country    137
dtype: int64

In [34]:
german_count =  data[['native-country']][data['native-country']=='Germany'].count()
full_count = data['native-country'].count()
print(german_count['native-country'])
print(full_count)
perc_german = (german_count['native-country']/full_count)*100
print("percentage of german citizens is ")
print(perc_german)

137
32561
percentage of german citizens is
0.42074874850281013

In [35]:
print(data[['salary']])

      salary
0      <=50K
1      <=50K
2      <=50K
3      <=50K
4      <=50K
5      <=50K
6      <=50K
7       >50K
8       >50K
9       >50K
10      >50K
11      >50K
12     <=50K
13     <=50K
14      >50K
15     <=50K
16     <=50K
17     <=50K
18     <=50K
19      >50K
20      >50K
21     <=50K
22     <=50K
23     <=50K
24     <=50K
25      >50K
26     <=50K
27      >50K
28     <=50K
29     <=50K
...      ...
32531  <=50K
32532   >50K
32533   >50K
32534  <=50K
32535  <=50K
32536   >50K
32537  <=50K
32538   >50K
32539   >50K
32540  <=50K
32541  <=50K
32542  <=50K
32543  <=50K
32544  <=50K
32545   >50K
32546  <=50K
32547  <=50K
32548  <=50K
32549  <=50K
32550  <=50K
32551  <=50K
32552  <=50K
32553  <=50K
32554   >50K
32555  <=50K
32556  <=50K
32557   >50K
32558  <=50K
32559  <=50K
32560   >50K

[32561 rows x 1 columns]

In [53]:
sal_det = data.salary.value_counts()
print(sal_det['>50K'])

7841

In [59]:
print("mean of the age people who have salary more than 50k ")
print(data[['age']][data['salary']=='>50K'].mean())
print("sd of the age people who have salary more than 50k ")
print(data[['age']][data['salary']=='>50K'].std())

mean of the age people who have salary more than 50k
age    44.249841
dtype: float64
sd of the age people who have salary more than 50k
age    10.519028
dtype: float64

In [58]:
print("mean of the age people who have salary less than 50k ")
print(data[['age']][data['salary']=='<=50K'].mean())
print("sd of the age people who have salary less than 50k ")
print(data[['age']][data['salary']=='<=50K'].std())

mean of the age people who have salary less than 50k
age    36.783738
dtype: float64
sd of the age people who have salary less than 50k
age    14.020088
dtype: float64

In [66]:
edu_list = ['Bachelors', 'Prof-school', 'Assoc-acdm', 'Assoc-voc', 'Masters','Doctorate']
total_ppl = data[['salary']][data['salary']=='>50K'].count()
print(total_ppl)
ppl_edu =data[['education']][((data['salary']=='>50K')&(data['education'].isin(edu_list)))].count()
print(ppl_edu)
print("Are all the ppl whose salary is greater than 50k are eductaed?")
print(total_ppl['salary'] == ppl_edu['education'])

salary    7841
dtype: int64
education    4535
dtype: int64
Are all the ppl whose salary is greater than 50k are eductaed?
False

In [96]:
race_data = data.groupby(['race','sex'])
#print(race_data.describe())
rcdata = data.groupby('race')
print(rcdata.get_group('Amer-Indian-Eskimo').describe().age.max())

311.0

In [102]:
married_list = ['Married-civ-spouse','Married-spouse-absent','Married-AF-spouse']
married = data[['marital-status']][(data['marital-status'].isin(married_list) & (data['salary']=='>50K'))].count()
print(married)
unmarried = data[['marital-status']][~(data['marital-status'].isin(married_list) & (data['salary']=='>50K'))].count()
print(unmarried)
print("the group that has a greater salary is")
if(married['marital-status']>unmarried['marital-status']):
    print("married")
else:
    print("unmarried")

marital-status    6736
dtype: int64
marital-status    25825
dtype: int64
the group that has a greater salary is
unmarried

In [106]:
max_hrs = data[['hours-per-week']].max()
ppl_max = data[['hours-per-week']][data['hours-per-week']==max_hrs['hours-per-week']].count()
ppl_greater = data[['hours-per-week']][(data['hours-per-week']==max_hrs['hours-per-week']) & (data['salary']=='>50K')].count()
print((ppl_greater['hours-per-week']/ppl_max['hours-per-week'])*100)

29.411764705882355

In [117]:
country = data.groupby('native-country')
print(country.groups)

{'?': Int64Index([   14,    38,    51,    61,    93,   245,   249,   297,   393,
              453,
            ...
            32213, 32232, 32254, 32307, 32413, 32449, 32469, 32492, 32510,
            32525],
           dtype='int64', length=583), 'Cambodia': Int64Index([  255,  1975,  4303,  4785,  5560,  7980,  8014, 11134, 11637,
            16068, 17382, 18075, 20494, 21503, 21851, 22669, 27480, 28995,
            32129],
           dtype='int64'), 'Canada': Int64Index([  112,   266,   593,  1051,  1314,  1379,  1688,  1938,  2284,
             2327,
            ...
            28582, 29020, 29333, 29614, 30032, 30288, 30623, 30969, 32093,
            32112],
           dtype='int64', length=121), 'China': Int64Index([  873,  1092,  1217,  1515,  1708,  1717,  1932,  2323,  2432,
             3627,  3647,  3714,  3987,  4598,  4972,  5435,  5786,  6065,
             6387,  7202,  8075,  8112,  8478,  8508,  9067,  9147,  9202,
             9525,  9836,  9957, 10480, 11188, 11986, 12070, 14074, 14147,
            14194, 14273, 14374, 14531, 14927, 15762, 15978, 17412, 17540,
            17568, 20194, 20561, 20775, 21370, 22028, 22076, 22487, 22564,
            23019, 23460, 23483, 23741, 24330, 24940, 25002, 25118, 25577,
            26150, 26606, 27033, 27246, 29547, 31047, 31061, 31185, 31243,
            31511, 32115, 32204],
           dtype='int64'), 'Columbia': Int64Index([  228,  2659,  2992,  3386,  3924,  5463,  6878,  7732,  7921,
             9828, 10837, 11601, 11676, 11892, 12500, 12701, 12985, 13223,
            13432, 14073, 14113, 14419, 14436, 15210, 16016, 16140, 16258,
            16292, 16999, 18787, 18928, 19428, 19918, 20097, 21076, 21502,
            21836, 22155, 22376, 23807, 24096, 24240, 24575, 24609, 24650,
            25075, 26198, 26349, 27481, 27648, 28480, 28590, 29025, 29746,
            29969, 30784, 31305, 31817, 32299],
           dtype='int64'), 'Cuba': Int64Index([    4,    81,   638,   701,  1237,  1663,  2018,  2229,  2668,
             2790,  3289,  3511,  3533,  4913,  5025,  5194,  5241,  5331,
             5834,  6916,  6967,  7062,  8019,  8452,  8540,  8843,  9135,
             9339,  9347,  9839,  9919, 10042, 11352, 11495, 12026, 12541,
            13627, 13696, 13957, 14058, 14352, 15130, 15173, 16364, 16372,
            16392, 16490, 16627, 16771, 17182, 17566, 17646, 17718, 17909,
            17928, 18196, 18384, 18431, 19054, 19119, 19444, 19720, 19935,
            20114, 20328, 21087, 21145, 22181, 22954, 23503, 23631, 23836,
            25129, 25145, 26074, 26101, 26381, 26431, 26715, 26782, 27558,
            27625, 28301, 28887, 29010, 29030, 29874, 30376, 30476, 30743,
            30841, 30892, 30906, 31149, 31907],
           dtype='int64'), 'Dominican-Republic': Int64Index([  427,   688,  1198,  1826,  2107,  2469,  2581,  2647,  3201,
             3357,  4171,  4722,  4861,  5510,  5870,  7089,  7230,  7489,
             8947,  9006,  9388,  9658,  9770, 10310, 11288, 11937, 13458,
            13629, 13849, 14877, 15548, 15789, 15884, 16398, 16932, 17628,
            17975, 18604, 18608, 18646, 18870, 19186, 19996, 20011, 20533,
            20791, 22033, 22425, 22495, 22773, 23526, 23653, 24046, 24553,
            25663, 27180, 27817, 28422, 28664, 28683, 29211, 29972, 30161,
            30517, 31141, 31774, 31873, 31919, 32359, 32508],
           dtype='int64'), 'Ecuador': Int64Index([  289,  3981,  4158,  4310,  7081,  7659,  9336, 10545, 11130,
            11786, 12773, 13082, 15580, 16145, 16918, 17726, 17795, 17923,
            19118, 26214, 27277, 27818, 28756, 29184, 29374, 30322, 30783,
            31368],
           dtype='int64'), 'El-Salvador': Int64Index([  497,   624,  1291,  1880,  2124,  2680,  2861,  3303,  3448,
             3592,
            ...
            30065, 30272, 30334, 30498, 30501, 30505, 31466, 31509, 31838,
            32378],
           dtype='int64', length=106), 'England': Int64Index([   98,   163,   799,  1228,  1514,  1612,  2021,  2353,  2374,
             2377,  3025,  3483,  3680,  3923,  3946,  3962,  5492,  5513,
             5787,  6135,  6941,  7036,  7617,  9047,  9225,  9265,  9806,
             9857,  9973, 10263, 10475, 10533, 11119, 11811, 11889, 12421,
            12762, 12788, 13373, 13750, 14192, 14411, 14445, 14502, 14919,
            15143, 15387, 15666, 15804, 15836, 15892, 16171, 16442, 16705,
            16896, 17082, 17585, 17855, 17983, 18130, 18279, 18542, 19455,
            19692, 20276, 20355, 20398, 21627, 21831, 22767, 22853, 24889,
            25156, 25391, 25394, 25413, 25578, 25836, 26277, 26438, 27387,
            27417, 27492, 27633, 27664, 28845, 29442, 30279, 31338, 31801],
           dtype='int64'), 'France': Int64Index([  503,  3666,  4635,  7982,  9743, 12108, 12338, 13496, 13858,
            15584, 16361, 16816, 18430, 21424, 21446, 21569, 21680, 22265,
            22724, 23249, 24282, 25072, 25860, 27401, 27637, 29325, 29466,
            31268, 31776],
           dtype='int64'), 'Germany': Int64Index([  122,   280,   767,  1009,  1142,  1346,  1425,  1973,  2233,
             2586,
            ...
            31172, 31181, 31201, 31248, 31446, 32074, 32101, 32141, 32236,
            32341],
           dtype='int64', length=137), 'Greece': Int64Index([ 1888,  2426,  2752,  2779,  3215,  4029,  5839,  5883,  5911,
             6050,  6424,  6635,  6928,  7735,  7865,  8531,  9306, 10659,
            14846, 21475, 21587, 22652, 23303, 26160, 27067, 27330, 28649,
            29353, 30064],
           dtype='int64'), 'Guatemala': Int64Index([  771,   929,  2336,  3317,  3675,  3719,  3798,  4697,  4700,
             4979,  5716,  5842,  6583,  7206,  7319,  7366,  7433,  7839,
             9206,  9504,  9984, 11389, 11461, 11982, 12367, 12681, 12783,
            12846, 13022, 13084, 13288, 13456, 14264, 14393, 14463, 14862,
            15828, 15962, 18104, 18502, 19278, 19601, 20404, 20914, 21903,
            22270, 22300, 22541, 22617, 23510, 25630, 25645, 25754, 26223,
            27152, 27887, 28674, 28775, 28901, 29720, 30285, 30483, 31457,
            32214],
           dtype='int64'), 'Haiti': Int64Index([  338,   748,  1629,  2288,  2561,  4180,  5812,  6421,  7289,
             7755,  8726,  9068,  9595,  9648,  9779, 11304, 11618, 11709,
            12270, 12592, 14024, 14530, 14975, 15593, 15995, 18163, 19263,
            19711, 20281, 20722, 20859, 21097, 21124, 21904, 22061, 22576,
            24102, 24296, 28579, 28965, 30528, 31384, 31486, 31536],
           dtype='int64'), 'Holand-Netherlands': Int64Index([19609], dtype='int64'), 'Honduras': Int64Index([   52,   714,  2084,  6958,  7234, 12423, 16957, 17561, 25745,
            27115, 27271, 27765, 32456],
           dtype='int64'), 'Hong': Int64Index([ 2655, 10188, 11946, 12096, 14214, 14672, 15644, 16843, 19964,
            20780, 23917, 25943, 27329, 28049, 28800, 30338, 30732, 30975,
            32242, 32327],
           dtype='int64'), 'Hungary': Int64Index([ 8562, 12529, 13928, 15259, 17144, 17735, 18839, 21371, 22658,
            23023, 27041, 27750, 30346],
           dtype='int64'), 'India': Int64Index([   11,   892,   968,  1029,  1095,  1327,  2130,  2558,  2989,
             4480,  4512,  4523,  5629,  6219,  6321,  6560,  6964,  7258,
             7285,  7844,  7932,  8124,  9128,  9533,  9793,  9939, 10107,
            10305, 10590, 10661, 10736, 11260, 11384, 11756, 11835, 12368,
            12795, 13422, 13551, 13862, 14041, 14685, 15698, 16017, 16336,
            16778, 16923, 17259, 17834, 18556, 18968, 19926, 19959, 20417,
            20465, 20709, 21128, 21130, 22431, 22879, 23022, 23474, 23891,
            24154, 24175, 24872, 24981, 25376, 25662, 25739, 25897, 26305,
            26321, 26356, 27170, 27244, 27289, 27659, 27670, 27889, 27904,
            27974, 28264, 28433, 28452, 28557, 28651, 28693, 28774, 28798,
            28816, 29207, 29631, 29728, 30111, 30152, 30833, 30871, 31327,
            31357],
           dtype='int64'), 'Iran': Int64Index([  135,   237,   348,  1054,  1387,  2652,  3389,  3390,  4145,
             4369,  4433,  5205,  6182,  6295,  6527,  6604,  6750,  6865,
             7402,  7461,  9826,  9945, 10125, 13961, 14144, 14698, 15877,
            16091, 17854, 19097, 19322, 20243, 20887, 21441, 23321, 25172,
            25646, 25961, 26545, 26570, 31003, 31592, 31985],
           dtype='int64'), 'Ireland': Int64Index([ 2966,  3972,  3982,  4765,  5619,  7293, 10205, 10246, 11831,
            11931, 12011, 12901, 15086, 15158, 16990, 18479, 20420, 20636,
            21729, 25949, 26087, 26736, 28654, 32337],
           dtype='int64'), 'Italy': Int64Index([  201,   815,  1363,  1655,  1674,  1882,  2159,  2900,  2933,
             3447,  4455,  4813,  5441,  6559,  6590,  6606,  7275,  7546,
             8983, 10227, 10274, 10431, 10918, 11974, 12169, 12254, 12490,
            13470, 14088, 14412, 14705, 14809, 14910, 15668, 16699, 17591,
            17769, 17827, 18083, 18340, 18443, 19348, 19576, 20321, 20581,
            21186, 22190, 22610, 22667, 22700, 23082, 23216, 23315, 23722,
            24876, 26407, 27311, 27914, 28008, 28232, 28732, 29717, 30195,
            30634, 31044, 31207, 31242, 31247, 31376, 31702, 32153, 32278,
            32313],
           dtype='int64'), 'Jamaica': Int64Index([    6,   706,  1135,  1570,  2006,  2128,  3551,  3608,  3973,
             4033,  4286,  4361,  4381,  4485,  4647,  5083,  6044,  6212,
             6288,  6578,  6601,  6634,  6655,  6672,  6715,  8274,  8649,
             8994,  9314,  9784,  9790, 10154, 11431, 11490, 11547, 12420,
            13162, 13647, 14708, 14893, 14974, 15358, 15560, 15587, 15862,
            16118, 17818, 18887, 19234, 20346, 20415, 20450, 20934, 21431,
            22717, 23910, 24657, 24783, 25185, 25528, 25955, 26364, 26531,
            26692, 26909, 27687, 28075, 28323, 28466, 28515, 29420, 29484,
            29625, 30069, 30443, 30611, 30863, 31033, 31038, 31954, 32229],
           dtype='int64'), 'Japan': Int64Index([ 1020,  1119,  1301,  1368,  1756,  2096,  2834,  2994,  3064,
             5012,  5491,  5980,  6038,  7245,  7792,  8152,  8237,  9017,
             9262,  9452, 11764, 12323, 12848, 13229, 13244, 13923, 14396,
            14543, 15177, 16200, 16391, 16729, 17142, 18414, 18538, 18657,
            18686, 18808, 19743, 20137, 20292, 20423, 20936, 22174, 22225,
            23931, 24483, 24632, 25696, 25946, 26362, 26415, 26862, 27135,
            27163, 29393, 30802, 31757, 31830, 32075, 32376, 32533],
           dtype='int64'), 'Laos': Int64Index([  304,  4610,  5971,  6853, 15310, 15443, 21520, 23177, 25227,
            25975, 26432, 27315, 27714, 28002, 28295, 30326, 31002, 31332],
           dtype='int64'), 'Mexico': Int64Index([   15,    56,    75,   142,   150,   165,   183,   195,   317,
              335,
            ...
            32031, 32035, 32306, 32312, 32320, 32332, 32334, 32425, 32432,
            32547],
           dtype='int64', length=643), 'Nicaragua': Int64Index([ 1948,  2022,  2646,  2749,  4315,  7960,  8099,  9176,  9252,
             9551, 12263, 12412, 13117, 13887, 15736, 16202, 17255, 17465,
            18482, 18606, 19641, 20989, 22993, 24000, 24558, 25366, 25594,
            26218, 26516, 27020, 28456, 29995, 30881, 32263],
           dtype='int64'), 'Outlying-US(Guam-USVI-etc)': Int64Index([ 1565,  4233,  4508,  7025, 14680, 16120, 19129, 21665, 26386,
            28494, 28575, 29916, 30088, 31686],
           dtype='int64'), 'Peru': Int64Index([ 1430,  3260,  4085,  6794,  6795,  8110,  9665, 10312, 10360,
            11374, 13017, 13129, 13227, 13699, 14129, 18154, 19253, 21823,
            24531, 24637, 24739, 24827, 24853, 26372, 27344, 28357, 28634,
            28895, 30189, 30520, 31948],
           dtype='int64'), 'Philippines': Int64Index([  152,   434,   655,   881,  1281,  1609,  1622,  1793,  1839,
             2249,
            ...
            31506, 31596, 31634, 31673, 31770, 31787, 32062, 32199, 32370,
            32428],
           dtype='int64', length=198), 'Poland': Int64Index([  217,   500,   698,  1372,  2268,  2373,  3115,  3236,  4042,
             5092,  5112,  5301,  5471,  5617,  6043,  7896,  8049,  8487,
             8651,  9106,  9201,  9384, 10624, 11772, 12067, 12267, 12384,
            12785, 13115, 13295, 13303, 13615, 14356, 14603, 15681, 15839,
            16323, 16848, 17218, 17679, 17707, 20175, 20339, 21152, 21617,
            21921, 22533, 23240, 23939, 25025, 25163, 25672, 25804, 27908,
            28600, 28832, 30762, 31153, 31202, 32459],
           dtype='int64'), 'Portugal': Int64Index([  359,   480,   681,   762,  2584,  3481,  4905,  5734,  6877,
             7358,  7890,  8557, 11261, 11294, 11672, 12032, 14723, 14900,
            15246, 15939, 15966, 19047, 21303, 21636, 21951, 22292, 22391,
            24126, 26850, 27692, 28056, 28227, 28439, 30856, 31902, 32352,
            32403],
           dtype='int64'), 'Puerto-Rico': Int64Index([   35,    57,   404,   530,  1789,  1847,  2137,  2144,  2502,
             2891,
            ...
            27584, 28216, 28273, 28395, 28593, 28715, 29015, 29647, 30299,
            31057],
           dtype='int64', length=114), 'Scotland': Int64Index([1586, 5259, 8165, 15039, 17176, 19059, 20363, 21634, 22409, 27518,
            29137, 32371],
           dtype='int64'), 'South': Int64Index([   27,   668,   916,  1969,  2208,  3202,  4066,  4367,  4409,
             5330,  5424,  5592,  6150,  6493,  6570,  6631,  6921,  7057,
             7059,  7507,  7800,  8066,  8896,  9318,  9550,  9735,  9911,
            10219, 10233, 10378, 10772, 11686, 12093, 12262, 12451, 12584,
            12625, 12779, 13550, 13589, 13933, 14401, 14572, 15037, 15466,
            16924, 17110, 17984, 18189, 18244, 18450, 18509, 19035, 19693,
            20172, 22029, 22197, 22324, 22446, 22797, 22896, 23021, 23804,
            24735, 25231, 25561, 25816, 26152, 26494, 27046, 27338, 27647,
            27799, 27867, 29290, 29488, 30347, 30533, 31302, 31751],
           dtype='int64'), 'Taiwan': Int64Index([  311,   652,  1077,  2286,  2339,  2898,  3909,  4108,  4403,
             4625,  5196,  5219,  6549,  7320,  8809,  8898,  9860,  9952,
            10091, 11466, 11597, 12438, 14488, 15005, 15253, 16583, 17172,
            17717, 17823, 17835, 18159, 18238, 19200, 19509, 21158, 21348,
            21705, 22956, 23351, 23590, 24006, 24156, 25350, 25752, 26457,
            26649, 26879, 28511, 30200, 31429, 32553],
           dtype='int64'), 'Thailand': Int64Index([  265,  1411,  6952,  7606,  8055,  9341,  9441, 10630, 15967,
            20543, 20698, 21452, 22307, 22405, 24202, 25153, 27056, 27874],
           dtype='int64'), 'Trinadad&Tobago': Int64Index([ 1794,  2441,  3179,  4576,  7663,  9553, 12321, 13236, 22358,
            22783, 23495, 24307, 27306, 28828, 29038, 29195, 30007, 30017,
            30168],
           dtype='int64'), 'United-States': Int64Index([    0,     1,     2,     3,     5,     7,     8,     9,    10,
               12,
            ...
            32550, 32551, 32552, 32554, 32555, 32556, 32557, 32558, 32559,
            32560],
           dtype='int64', length=29170), 'Vietnam': Int64Index([ 2259,  2653,  3708,  3832,  3879,  4168,  4262,  4724,  4826,
             4919,  5395,  5415,  6175,  7210,  7697,  7909,  8572,  8633,
             8953,  9463,  9470,  9626,  9711, 10335, 10374, 11271, 11589,
            13122, 13468, 13648, 13821, 14507, 15124, 15403, 17269, 17895,
            18031, 18096, 19094, 19511, 19526, 19542, 19750, 20360, 21048,
            21218, 22021, 22900, 23564, 23902, 25735, 25994, 26568, 26878,
            27002, 27026, 27214, 27642, 28773, 28942, 29311, 29633, 30135,
            30301, 31079, 32044, 32203],
           dtype='int64'), 'Yugoslavia': Int64Index([ 1025,  4447,  6328,  7287, 12506, 12816, 13125, 18247, 20549,
            22200, 23814, 26614, 28487, 29437, 30543, 31519],
           dtype='int64')}

In [137]:
for grp in country.groups.keys():
    print(grp)
    grpnat = country.get_group(grp)
    print("salary greater than 50k")
    grphigh = grpnat[['native-country','hours-per-week']][data['salary']=='>50K']
   # print(grphigh[['native-country']][grphigh['hours-per-week']].mean())
    print(grphigh['hours-per-week'].mean())
    print("salary less than 50k")
    grplow = grpnat[['native-country','hours-per-week']][data['salary']=='<=50K']
    print(grplow['hours-per-week'].mean())

?
salary greater than 50k
45.54794520547945
salary less than 50k
40.16475972540046
Cambodia
salary greater than 50k
40.0
salary less than 50k
41.416666666666664
Canada
salary greater than 50k
45.64102564102564
salary less than 50k
37.91463414634146
China
salary greater than 50k
38.9
salary less than 50k
37.38181818181818
Columbia
salary greater than 50k
50.0
salary less than 50k
38.68421052631579
Cuba
salary greater than 50k
42.44
salary less than 50k
37.98571428571429

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:9: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  if __name__ == '__main__':

Dominican-Republic
salary greater than 50k
47.0
salary less than 50k
42.338235294117645
Ecuador
salary greater than 50k
48.75
salary less than 50k
38.041666666666664
El-Salvador
salary greater than 50k
45.0
salary less than 50k
36.03092783505155
England
salary greater than 50k
44.53333333333333
salary less than 50k
40.483333333333334
France
salary greater than 50k
50.75
salary less than 50k
41.05882352941177
Germany
salary greater than 50k
44.97727272727273
salary less than 50k
39.13978494623656
Greece
salary greater than 50k
50.625
salary less than 50k
41.80952380952381
Guatemala
salary greater than 50k
36.666666666666664
salary less than 50k
39.36065573770492
Haiti
salary greater than 50k
42.75
salary less than 50k
36.325
Holand-Netherlands
salary greater than 50k
nan
salary less than 50k
40.0
Honduras
salary greater than 50k
60.0
salary less than 50k
34.333333333333336
Hong
salary greater than 50k
45.0
salary less than 50k
39.142857142857146
Hungary
salary greater than 50k
50.0
salary less than 50k
31.3
India
salary greater than 50k
46.475
salary less than 50k
38.233333333333334
Iran
salary greater than 50k
47.5
salary less than 50k
41.44
Ireland
salary greater than 50k
48.0
salary less than 50k
40.94736842105263
Italy
salary greater than 50k
45.4
salary less than 50k
39.625
Jamaica
salary greater than 50k
41.1
salary less than 50k
38.23943661971831
Japan
salary greater than 50k
47.958333333333336
salary less than 50k
41.0
Laos
salary greater than 50k
40.0
salary less than 50k
40.375
Mexico
salary greater than 50k
46.57575757575758
salary less than 50k
40.00327868852459
Nicaragua
salary greater than 50k
37.5
salary less than 50k
36.09375
Outlying-US(Guam-USVI-etc)
salary greater than 50k
nan
salary less than 50k
41.857142857142854
Peru
salary greater than 50k
40.0
salary less than 50k
35.06896551724138
Philippines
salary greater than 50k
43.032786885245905
salary less than 50k
38.065693430656935
Poland
salary greater than 50k
39.0
salary less than 50k
38.166666666666664
Portugal
salary greater than 50k
41.5
salary less than 50k
41.93939393939394
Puerto-Rico
salary greater than 50k
39.416666666666664
salary less than 50k
38.470588235294116
Scotland
salary greater than 50k
46.666666666666664
salary less than 50k
39.44444444444444
South
salary greater than 50k
51.4375
salary less than 50k
40.15625
Taiwan
salary greater than 50k
46.8
salary less than 50k
33.774193548387096
Thailand
salary greater than 50k
58.333333333333336
salary less than 50k
42.86666666666667
Trinadad&Tobago
salary greater than 50k
40.0
salary less than 50k
37.05882352941177
United-States
salary greater than 50k
45.50536884674383
salary less than 50k
38.79912723305605
Vietnam
salary greater than 50k
39.2
salary less than 50k
37.193548387096776
Yugoslavia
salary greater than 50k
49.5
salary less than 50k
41.6

In [140]:
japan = country.get_group('Japan')
japanhigh = japan[['native-country','hours-per-week']][data['salary']=='>50K']
print("salary greater than 50k")
print(japanhigh['hours-per-week'].mean())
print("salary less than 50k")
japanlow = japan[['native-country','hours-per-week']][data['salary']=='<=50K']
print(japanlow['hours-per-week'].mean())

salary greater than 50k
47.958333333333336
salary less than 50k
41.0

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.